<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head th:replace="layout/layout :: head">
    <meta charset="ISO-8859-1">
    <title></title>
</head>
<body>

    <!-- page content -->
    <div class="right_col" layout:fragment="page-content" role="main">
        <a th:href="@{/new}" class="btn btn-info">Nuevo</a>
        <br><br>
        <table class="table">
            <thead>
            <tr>
                <td>ID</td>
                <td>NOMBRES</td>
                <td>TELEFONO</td>
                <td>Acciones</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="producto:${productos}">
                <td th:text="${producto.id}"></td>
                <td th:text="${producto.nombre}"></td>
                <td th:text="${producto.precio}"></td>
                <td>
                    <a th:href="@{/editar/}+${producto.id}" class="btn btn-info">Editar</a>
                    <a th:href="@{/eliminar/}+${producto.id}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>   
    </div>
    <!-- /page content -->
    <th:block layout:fragment="page-scripts">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </th:block>

    
</body>
</html>